@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap,100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap,100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap,100,200,300,400,500,600,700,800,900');

/*----------------------------------------------------------navbar*/
.nav-item{
    padding-right:30px;
    font-family: 'Petit Formal Script', cursive, sans-serif;
    
}

.navbar-light .navbar-nav .nav-link {
    
    font-family: 'Petit Formal Script', cursive sans-serif;
    font-size:25px;
    font-weight:800;
    color:white;
}

.navbar-brand{
    padding-right:25px;
    font-size:50px;
    padding-top:0;
    color:red;
    font-family: 'Great Vibes', cursive, sans-serif;
    
}


.nav-link{
color:white;

}

.bg-light{
    background-color:rgb(100, 34, 4, 0.95)!important;
}

/*----------------------------------------------------------hover*/

.hvr-underline-from-left:before{
    background-color:brown;
}

/*----------------------------------------------------------headings*/

.display-1{ /*----------------------------------------------------------Page titles*/
    text-align: center;
    padding-top:40px;
    padding-bottom:20px;
    color:brown;
    font-family: 'Great Vibes', cursive, sans-serif;
    font-weight:900;
}

.alert{ /*----------------------------------------------------------Alert bar at the top of every page*/
margin:0;
text-align:center;
background-color:darkred;
border-color:darkred;
color:white;
}
 .alert:hover{
     text-decoration:none;
     color:white;
     
      }
 
 /*------------------------------------------------------------------------------------------------------------------Footer*/

 .footer{
     background-color:rgb(100, 34, 4);
 }

 .footerheadings{
     padding-top:10px;
     color:white;
     font-family: 'Petit Formal Script', cursive, sans-serif;
     text-decoration:underline;
 }

 .footercontent{ 
     color:#ebe9e9;
 }

  .fa{ /*----------------------------------------------------------Social links*/
     padding:10px;
     color:white;
     font-size:30px;
     
 }

 .fa:hover{
     color:red;
 }

 .contactnumber{
     color:white;
     font-family: 'Petit Formal Script', cursive, sans-serif;
 }

  body {  /*----------------------------------------------------------Page background*/
   
    background-image: url("background.jpg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
 }

.contactnumber{
    text-decoration:underline;
    font-size:20px;
}

/*-----------------------------------------------------------------------------------------------------------------Home page*/

 .frontimg{ /*----------------------------------------------------------Home page images*/
     padding-bottom:25px;
     height:100%;
     width:100%;
     padding-right:10px;
     padding-left:10px; 
 }

.aboutheader{
    padding-bottom:20px;
     text-align:center;
     text-decoration:underline;
     color:brown;
     font-family:'Courgette', cursive, sans-serif;
     font-size:30px;  
     
 }

 .about{
     padding-left:15px;
     font-size:22px;
     color:darkred;
     font-family:'Courgette', cursive, sans-serif; 
     
 }

 
 .jumbotron{  /*----------------------------------------------------------Newsletter subscription box*/
     text-align:center;
     font-size:26px;
     color:white;
     margin-right:30px;
     margin-left:30px;
     background-image: url("coffee.jpg");
     background-size:cover;
     background-repeat:no-repeat;
     font-family: 'Petit Formal Script', cursive, sans-serif;
     font-weight:bold;
 }

.lead{    /*----------------------------------------------------------Jumbotron header*/
    color:white;
    font-weight:600;
    
}



.text-muted {
    color:white!important;
} 


 .btn-primary-1{ /*----------------------------------------------------------Submit button*/
     margin-top:10px;
     background-color:darkred;
     color:white;
     border-color:darkred;
     
 }

 .btn-primary-1:hover{
     background-color:green;
     color:white;
     border-color:green;
 }

 .news{ /*----------------------------------------------------------form input box*/
     width:50%;
     display:inline-block;
           }

.display-5{
    font-size:30px;
}

/*----------------------------------------------------------------------------------------------------------------------------Menu*/
 .menu{
     padding-right:45px;
 }

.card{ /*----------------------------------------------------------Each menu item*/
    padding-right:0;
    margin:10px;
    }
 
 .card-text{
     font-size:13px;
     font-family: 'Courgette', cursive, sans-serif;
     font-weight:200;
 }

.card-title{
    font-size:16px;
    font-family: 'Petit Formal Script', cursive, sans-serif;
    font-weight:700;
}


.sectionheader{ /*----------------------------------------------------------Menu catagories*/
    text-align:center;
    text-decoration: underline;
    font-family: 'Petit Formal Script', cursive, sans-serif;
    padding-top:10px;
    font-size:40px;
    
}
/*-----------------------------------------------------------------------------------------------------------------------Reviews*/


 .reviewer{ /*----------------------------------------------------------reviewer image*/
     border-radius:50%;
     height:100px;
     width:100px;
 }

.reviews{
    padding-bottom:50px;    
   font-family: 'Petit Formal Script', cursive, sans-serif;
   padding-left:45px;
    }

.reviewcomment{
    font-size:16px;
    font-family: 'Courgette', cursive, sans-serif;
}


 .quoteheading{
    font-family: 'Petit Formal Script', cursive, sans-serif;
 }

 .blockquote{
     padding-left:20px;
 }

 .formheader{
   font-weight:600;
}

.form-group-feedback{ /*----------------------------------------------------------Review submission*/
    padding-left:10%;
    padding-right:10%;
    padding-bottom:20px;
    font-family: 'Petit Formal Script', cursive, sans-serif;
    font-weight:300;

}

.btn-primary-feedback{
    background-color:darkred;
    color:white;
}

.btn-primary-feedback:hover{ 
background-color:green;
color:white;
}

/*---------------------------------------------------------------------------------------------------------------Faq's*/


.question{
   padding-bottom:15px;
   text-align: center;
    font-family: 'Petit Formal Script', cursive, sans-serif;
    font-weight:900;
    font-size:30px;
    }

.answer{
    padding-bottom:20px;
     text-align: center;
    font-family: 'Courgette', cursive, sans-serif;
    font-size:20px;
    
}



  

   